<!-- this is the home page for logged in users -->
{% extends "main.html" %}
{% block content %}

<!--display flash content, if any-->
<div class='flash'>
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			<ul>
				{% for message in messages %}
					<li><strong> {{ message }} </strong></li>
				{% endfor %}
			</ul>
			<br>
		{% endif %}
	{% endwith %}
</div>

<h1>Categories</h1>

<!--a button to add a new category-->
<div class="button">
	<a href="{{url_for('newCategory')}}">
		<button class="btn btn-default" id="new-restaurant">
			<span class="glyphicon glyphicon-pencil" aria-hidden="true" id="button"></span>Add Category
		</button>
	</a>
</div>
<!--display categories; clicking on categories allows user to see items for this category-->
{% for category in categories %}
	<div class="restaurants">
			<a href="{{url_for('showItems', category_id = category.id)}}">
				<h3>{{category.name}}</h3>
			</a>
	</div>
{% endfor %}
{% endblock %}
